POSTGRES_NAME=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_HOST=db

BASE_URL="http://localhost:5173"

# Generate a secret with `openssl rand -base64 32` for production
SESSION_SECRET="totally-secret"

CLIENT_ID=""
CLIENT_SECRET=""
RATE_LIMIT=2

DISCORD_WEBHOOK_ID="example"
DISCORD_WEBHOOK_TOKEN="example"
COUNCIL_SERVER_ISSUE_WEBHOOK_URL="example.com"
STUDENT_SERVER_ISSUE_WEBHOOK_URL="example.com"

# Production only
HOST=
PORT=

# Intra login for admin rights
SUPER_ADMIN=
