@media screen and (max-width: 400px) {
    #features {
        padding: 20px;
        width: 111%;
    }
    #about,
    #services,
    #testimonials,
    #team,
    #contact,
    #footer {
        width: 111%;
    }

    #portfolio {
        width: 110%;
    }
}

body {
    padding-top: 100px;
    padding-left: 100px;
}

.navbar-fixed-top {
    z-index: 1000;
}

.issues-container {
    padding: 20px;
}

.issues-container h2 {
    margin-bottom: 20px;
}

.issue-link {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #717171;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.issue-link:hover {
    background-color: #595b5d;
    color: white;
}
