@tailwind base;
@tailwind components;
@tailwind utilities;

/* latin-ext */
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-display: swap;
    src: url('/fonts/noto_sans-ext-italic.woff2') format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-display: swap;
    src: url('/fonts/noto_sans-italic.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-display: swap;
    src: url('/fonts/noto_sans-ext-normal.woff2') format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-display: swap;
    src: url('/fonts/noto_sans-normal.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 5%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 5%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 5%;

        --primary: 281 100% 0%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96%;
        --secondary-foreground: 0 0% 5%;
        
        --infobg: 217 91% 97%;
        --infobg-foreground: 0 0% 98%;

        --infotext: 217 91% 60%;
        --infotext-foreground: 0 0% 98%;

        --infoborder: 217 91% 60%;
        --infoborder-foreground: 0 0% 98%;

        --muted: 0 0% 96%;
        --muted-foreground: 0 0% 45%;

        --accent: 0 0% 96%;
        --accent-foreground: 0 0% 5%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 92%;
        --input: 0 0% 85%;
        --ring: 0 0% 76%;

        --radius: 0.5rem;
    }

    .dark,
    :root[class~='dark'] {
        --background: 300 4% 5%;
        --foreground: 0 0% 98%;

        --card: 240 3% 6%;
        --card-foreground: 0 0% 98%;

        --popover: 240 3% 6%;
        --popover-foreground: 0 0% 98%;

        --primary: 281 100% 25%;
        --primary-foreground: 0 0% 98%;

        --secondary: 300 2% 12%;
        --secondary-foreground: 0 0% 98%;

        --infobg: 281 91% 12%;
        --infobg-foreground: 0 0% 98%;

        --infotext: 281 91% 80%;
        --infotext-foreground: 0 0% 98%;

        --infoborder: 281 91% 30%;
        --infoborder-foreground: 0 0% 98%;

        --muted: 270 2% 18%;
        --muted-foreground: 288 2% 49%;

        --accent: 284 18% 12%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;

        --border: 300 2% 12%;
        --input: 270 2% 18%;
        --ring: 281 97% 40%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

svg {
    display: inline;
    vertical-align: middle;
}
